/**
Search single page by CSS:not
Autohr: Muki Wu
Article: http://blog.mukispace.com/full-text-search-by-css/
**/
/* basic layout start (you can skip it) */
body {
  background: #333;
  font-size: 1em;
  color: #f0f0f0;
  line-height: 1.1em;
}

a {
  text-decoration: none;
}
a:hover {
  position: relative;
  top: 1px;
  left: 1px;
}

section {
  width: 90%;
  margin: 0 auto;
  background: #555;
  padding: 1em;
  overflow: hidden;
}
section div {
  margin: 0 0 2em 0;
}

header {
  background: #d9444a;
  text-align: center;
  color: #fff;
  font-size: .5em;
  padding: .7em 0;
}
header a {
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px 1px #973735;
}
header:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #d9444a transparent transparent transparent;
  top: 53px;
  left: 50%;
}

h2 {
  font-size: 1em;
  margin: 0 0 .5em 0;
  background: #444;
  display: inline-block;
  padding: .5em 1.2em;
  position: relative;
  left: -1em;
}

/* search layout start (you can skip it) */
.search-form {
  text-align: right;
}
.search-form input, .search-form button {
  border: none;
  padding: .5em;
  background: rgba(255, 255, 255, 0.5);
  color: #555;
}

.wrap {
  display: table;
  background: #888;
  margin-right: .1em;
  margin-left: .9em;
  padding: .5em;
  width: 150px;
  float: left;
}
.wrap:nth-child(odd) {
  margin-right: 0;
}
.wrap img {
  display: inline-block;
}
.wrap .name {
  display: table-cell;
  width: 90%;
  vertical-align: middle;
  position: relative;
  left: 1em;
}
